html {
height:100%;
width:100%;
}

/* Font & Backround Color */
body {
    background-color: rgb(80, 79, 79);
    font-family: "courier new", monospace;
}

/* Standard Font Size */
h1 {
    font-size: 24px;
    font-weight: 700;
    color: whitesmoke;
}
h2 {
    color: whitesmoke
}
p {
    font-size:15px;
    color: whitesmoke;
}

a {
    color: aliceblue
}
a:visited {
    color: darkred
}

a:hover, a:active {
    color: #bdb8b8
}